.adresse {
  min-width: 300px;
}

.adressCompo {
  height: 100%;
  width: 100%;
}

.prettyDate {
  font-weight: bold;
}

.container-adress {
  height: 65%;
  width: inherit !important;
}

.item-content {
  width: inherit !important;
}

.adress {
  font-size: 20px;
  margin-right: 16px !important;
}

h5 {
  font-size: 18px;
}

// .adressesInput {
//   width: 100%;
// }

// .blocadresseIcon {
//   position: relative;
//   top: 4px;
//   left: 4px;
//   margin-right: 16px;
// }

.adress-form-field {
  width: 100% !important;
}

.nav-list {
  position: relative;
}

.adress-list {
  width: 500px;
  height: 48px;
}

.adresse-content {
  width: 100% !important;
}

.drop-handler {
  margin-top: 8px;
}

.adresse-date {
  width: 165px;
}

.adresse-icon {
  border-radius: 50% !important;
  min-width: 40px !important;
  width: 48px !important;
  height: 48px;
  font-size: 20px !important;
  margin-top: 16px;
  padding: 0px !important;
  cursor: none;
}